{% extends "layout.html" %}

{% block body %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Orders</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.phone}}</td>
                    {% if user.admin == 1 %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>
                        {% for order in user.orders %}
                            <a style="display:inline" href="{{url_for('specific_order', order_id=order.id)}}">
                                {% for product in order.products %}
                                    {{product.product.name}} x {{product.amount}}
                                {% endfor %}
                            </a> | 
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}