<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UniPizza</title>
    </head>

    <body>
        {% if current_user.is_authenticated %}
            <p>Kirjautunut nimellä {{ current_user.name }} <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a></p>
        {% else %}
            <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
        {% endif %}
        
        <a href="{{url_for('menu_index')}}">Menu</a>
        <a href="{{url_for('menu_form')}}">Add a menu item</a>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
