{% extends "layout.html" %}

{% block body %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Ingredients</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in menu %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>
                        {% for ingredient in item.ingredients %}
                            {{ingredient.name}}<br>
                        {% endfor %}
                    </td>
                    <td>{{item.price}}</td>
                    {% if current_user.admin %}
                        <td>
                            <a href="{{url_for('product_update', item_id=item.id)}}">Edit</a>
                            <a href="{{url_for('product_delete', item_id=item.id)}}">Remove</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}