{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('menu_add') }}">
    {{form.name.label}}
    {{form.name}}
    {% for error in form.name.errors %}
	    {{error}}
	{% endfor %}
    <br>
    {{form.ingredients.label}}
    {{form.ingredients}}
    {% for error in form.ingredients.errors %}
	    {{error}}
	{% endfor %}
    <br>
    {{form.price.label}}
    {{form.price}}
    {% for error in form.price.errors %}
	    {{error}}
	{% endfor %}
    <br>
    <input type="submit" value="Add a new menu item"/>
</form>
{% endblock %}