{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('account_create') }}">
    <div class="form-group">
        {{form.name.label}}
        {{form.name(class_="form-control")}}
        {% for error in form.name.errors %}
            {{error}}
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.email.label}}
        {{form.email(class_="form-control")}}
        {% for error in form.email.errors %}
            {{error}}
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.password.label}}
        {{form.password(class_="form-control")}}
        {% for error in form.password.errors %}
            {{error}}
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.address.label}}
        {{form.address(class_="form-control")}}
        {% for error in form.address.errors %}
            {{error}}
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.phone.label}}
        {{form.phone(class_="form-control")}}
        {% for error in form.phone.errors %}
            {{error}}
        {% endfor %}
    </div>
    {% if admin %}
        <div class="form-check">
            {{form.admin(class_="form-check-input")}}
            {{form.admin.label(class_="form-check-label")}}
        </div>
        <br>
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Create a new account"/>
</form>
{% endblock %}