{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('account_create') }}">
    {{form.name.label}}
    {{form.name}}
    <br>
    {{form.email.label}}
    {{form.email}}
    <br>
    {{form.password.label}}
    {{form.password}}
    <br>
    {{form.address.label}}
    {{form.address}}
    <br>
    {{form.phone.label}}
    {{form.phone}}
    <br>
    {{form.admin.label}}
    {{form.admin}}
    <br>
    <input type="submit" value="Create a new account"/>
</form>
{% endblock %}