{% extends "layout.html" %}

{% block body %}
    <div>
        <form method="POST" action="{{url_for('order_send', price=price)}}">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Ingredients</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% if "cart" in session %}
                        {% for item in items %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>
                                {% for ingredient in item.ingredients %}
                                    {{ingredient.name}}<br>
                                {% endfor %}
                            </td>
                            <td>{{item.price}}</td>
                            <td>{{item.amount}}</td>
                            <td><a href="{{url_for('cart_remove', item_id=item.id)}}" class="btn btn-primary">Remove</a></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% if not current_user.is_authenticated %}
                <div class="form-group">
                    {{form.name.label}}
                    {{form.name(class_="form-control")}}
                    {% for error in form.name.errors %}
                        {{error}}
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.email.label}}
                    {{form.email(class_="form-control")}}
                    {% for error in form.email.errors %}
                        {{error}}
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.address.label}}
                    {{form.address(class_="form-control")}}
                    {% for error in form.address.errors %}
                        {{error}}
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.phone.label}}
                    {{form.phone(class_="form-control")}}
                    {% for error in form.phone.errors %}
                        {{error}}
                    {% endfor %}
                </div>
            {% endif %}
            {{form.visible}}
            <p>Total Price: {{price}}</p>
            <input type="submit" class="btn btn-primary" value="Confirm Order" />
        </form>
    </div>
{% endblock %}