{% extends "layout.html" %}

{% block body %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order #</th>
                    <th scope="col">User</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Products</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>
                        {% if order.user == None %}
                            Unregistered User
                        {% else %}
                            {% if current_user.admin %}
                                <a href="{{url_for('specific_user', user_id=order.user.id)}}">{{order.user.name}}</a>
                            {% else %}
                                {{order.user.name}}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{order.date}}</td>
                    <td>
                        {% for product in order.products %}
                            {{product.product.name}} x {{product.amount}}<br>
                        {% endfor %}
                    </td>
                    <td>{{order.price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}